<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="template">

<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Acceuille</title>

<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
 <div layout:fragment="Mycontent">
        <div class="container">
        <br><br><br><br>
        	<h1 class="py-5 text-center">Gestion Des Produits.</h1>
        	<h5 class="py-5 text-center">Bienvenue sur notre site de gestion des produits.<br>
        	 Nous offrons une solution simple et efficace pour suivre et gérer vos stocks en temps réel,<br>
        	  ce qui vous permet d'optimiser votre gestion de production et d'améliorer votre rentabilité.</h5>
        </div>
        </div>
</body>
</html>
