<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="template">

<head>
    <meta charset="utf-8">
    <title>Create produit</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>

<body>
    <div layout:fragment="Mycontent">
        <div class="container">
            <div class="card-body">
                <div th:if="${produit.idProduit} == null">
    <u><h2 class="text-center font-weight-bold text-primary">Ajouter Produit <i class="bi bi-bag-plus"></i></h2></u>
</div>

<div th:if="${produit.idProduit} != null">
    <u><h2 class="text-center font-weight-bold text-primary">Modifier Produit <i class="bi bi-bag-plus"></i></h2></u>
</div>
<br>
<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message}">
  <strong>Bon ,</strong> <p th:text="${message}"></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

                <form th:action="${(produit.idProduit == null) ? 'saveProduit' : 'updateProduit'}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="idProduit" class="form-control" placeholder="Entrer un nom du categorie" th:value="${produit.idProduit}"/>
                    <div class="form-group">
                        <label class="control-label font-weight-bolder" for="nomProduit">Nom Produit :</label>
                        <input type="text" id="nomProduit" name="nomProduit" class="form-control" placeholder="Entrer un nom du produit" th:value="${produit.nomProduit}"/>
                        <span th:errors="${produit.nomProduit}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bolder" for="prixProduit">Prix Produit :</label>
                        <input type="text" id="prixProduit" name="prixProduit" class="form-control" th:value="${produit.prixProduit}" />
                        <span th:errors="${produit.prixProduit}" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label font-weight-bolder" for="dateCreation">Date création :</label>
                        <input type="date" id="dateCreation" name="dateCreation" class="form-control" th:value="${produit.dateCreation}" />
                        <span th:errors="${produit.dateCreation}" class="text-danger"></span> 
                    </div>

                    <div class="form-group">
                        <label class="control-label font-weight-bolder" for="categorie">Categories :</label>
                        <div class="row">
                            <div class="col-sm-1">
                                <a href="createCategory">
                                    <button type="button" class="btn btn-light">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="col-sm-11">
                                <select class="form-control" id="categorie" name="categorie">
                                    <option disabled selected>Choisir une categorie</option>
                                    <th:block th:each="cat : ${cats}">
                                        <option th:value="${cat.idCat}" th:text="${cat.nomCat}" th:selected="${cat.nomCat == produit.categorie.nomCat}"
                                        th:if="${produit.idProduit} != null"></option>
                                         <option th:value="${cat.idCat}" th:text="${cat.nomCat}"
                                        th:if="${produit.idProduit} == null"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" th:if="${produit.idProduit} == null">Ajouter</button>
                        <button type="submit" class="btn btn-primary" th:if="${produit.idProduit} != null">Modifier</button>
                    </div>
                </form>
            </div>
            <div th:if="${msg}" class="p-3 mb-2 bg-success text-white">
                <p th:text="'Message: ' + ${msg}"></p>
            </div>
            <br/>
           <div class="row">
    <div class="col">
       <a href="ListeProduits" class="blockquote-footer font-weight-bolder display-1 text-success">
<i class="bi bi-bag-fill"></i> Liste Produits</a>
</div>
 <div class="col-sm">
       <a href="listeCategories" class="blockquote-footer font-weight-bolder display-1 text-success">
<i class="bi bi-bag-fill"></i> Liste Categories</a>
</div>
    </div>
   </div>
   
</div>
</div>
</body>
</html>