<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="template">


<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Produits</title>

<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
<div layout:fragment="Mycontent">
<br />
<!-- Button trigger modal -->


<div class="container">
<div class="card">
 <div class="card-header font-weight-bold text-primary">
 <div class="row">
  <div class="col-sm">
   <u>Liste des Produits</u><i class="bi bi-basket-fill"></i>
  </div>
	 <div class="col-sm">
		 <form class="form-inline my-2 my-lg-0" action="filter" method="post">
		      <input class="form-control mr-sm-2" type="search" placeholder="chercher avec Nom" aria-label="Search" name="nomProduit">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
		  </form>
	 </div>
 </div>
 </div>
 <div class="card-body">
 <table class="table table-striped">
 <tr>
 <th>#</th><th>Nom Produit</th><th>Prix</th><th>Category</th><th class="text-right">Actions</th><th></th>
 </tr>
 <tr th:each="p:${produits}">
 <td th:text="${p.idProduit}"></td>
 <td th:text="${p.nomProduit}"></td>
 <td th:text="${p.prixProduit}"></td>
 <td th:text="${p.categorie.nomCat}"></td>

 <!-- <td th:text="${p.categorie.nomCat}"></td> -->
 <td  sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger" onclick="return confirm('Etes vous sûr ?')"
 th:href="@{supprimerProduit(id=${p.idProduit})}"><i class="bi bi-trash3"></i></a></td>
<td  sec:authorize="hasRole('ADMIN')"><a onclick="return confirm('Etes vous sûr ?')" class="btn btn-warning"
 th:href="@{modifierProduit(id=${p.idProduit},
page=${currentPage},size=${size})}"><i class="bi bi-pen"></i></a>

</td>
 </tr>
 </table>
 <div class="alert alert-danger text-center" role="alert" th:text="${msg}" th:if="${msg}">
</div>
 <ul class="nav nav-pills">
 <li th:each="page,status:${pages}">
 <a th:class="${status.index==currentPage?'btn btn-primary':'btn'
}"
 th:href="@{ ListeProduits(page=${status.index}, size=${size} )
}"
 th:text="${status.index }"></a>
 </li>
 </ul>
 </div>
</div>
</div>
</div>
</body>
</html>