<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="template"> 
<head> 
<meta charset="utf-8"> 
<title>Créer Compte</title> 
</head> 
<body> 
<div layout:fragment="Mycontent"> 
<div class="container mt-5"> 
<div class="col-md-6 offset-md-3"> 
<div class="card"> 
<div class="card-header">Créer Compte</div> 
<div class="card-body"> 
<form action="addUser" method="post"> 
<div class="alert alert-danger" role="alert" th:text="${msg}" th:if="${msg}">
</div>
<div class="form-group"> 
<label class="control-label" >Utilisateur :</label> 
<input type="text" name="username"> 
</div> 
<div class="form-group"> 
<label class="control-label" >Mot de passe :</label> 
<input type="password" name="password" > 
</div>
<div class="form-group"> 
<label class="control-label" >Confirm Mot de passe :</label> 
<input type="password" name="passwordC" > 
</div>
<button class="btn btn-primary" type="submit">Ajouter un Compte</button> 
</form>
<br>
<a th:href="@{login}"><h3><i class="4-xl bi bi-person-down"></i></h3></a>
</div> 
</div> 
</div> 
</div> 
</div> 
</body> 
</html>